{%extends 'base.html'%}

{%block content%}
    <main>
        <div>
            <h1>My Tasks</h1>
            {%if task_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in task_list%}
                            <tr>
                                <td>{{i.name}}</td>
                                <td>{{i.start_date}}</td>
                                <td>{{i.end_date}}</td>
                                <td>
                                    {%if i.is_completed == False%}
                                        <form method="post" action="{% url 'complete_task' i.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                    {%else%}
                                        Done
                                    {%endif%}
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%else%}
                <p>You have no tasks<p>
            {%endif%}
        </div>
    </main>
{%endblock content%}