{%extends 'base.html'%}
{% load markdownify %}

{%block content%}
    <main>
        <div>
            <h1>{{project.name}}</h1>
            <p>{{ project.description|markdownify }}</p>
            <h2>Tasks</h2>
            <a href="{%url 'create_task'%}">Create a new task</a>
            {%if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for x in project.tasks.all%}
                            <tr>
                                <td>{{x.name}}</td>
                                <td>{{x.assignee}}</td>
                                <td>{{x.start_date}}</td>
                                <td>{{x.due_date}}</td>
                                {%if x.is_completed == True%}
                                    <td>yes</td>
                                {%else%}
                                    <td>no</td>
                                {%endif%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%else%}
                <p>This project has no tasks</p>
            {%endif%}
        </div>
    </main>

{%endblock content%}