{%extends 'base.html'%}
{%block content%}
    <main>
        <div>
            <h1>My Projects</h1>
            {%if project_list == False %}
                <p>You are not assigned any projects</p>
            {%else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in project_list%}
                            <tr>
                                <td><a href="{%url 'show_project' i.pk%}">{{i.name}}</a></td>
                                <td>{{i.tasks.all|length}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            {%endif%}
            <a href="{%url 'create_project'%}"><button>Create new project</button></a>
        </div>
    </main>
{%endblock content%}

